Complex Numbers

In [3]:
# x + yj
num1 = 3 + 4j

In [4]:
print(num1)

(3+4j)

In [5]:
num2 = 6 + 2j

In [6]:
num1 * num2

(10+30j)

Strings

In [7]:
char = 'A'

In [8]:
print(int(char))

ValueError: invalid literal for int() with base 10: 'A'

In [9]:
#ord(str) -> ASCII(str)
print(ord('A'))

65

In [10]:
#chr(int) -> CHAR(int)
print(chr(65))

A

List

In [11]:
my_list = [1, 2, 3]

In [12]:
type(my_list)

list

Indexing

In [13]:
my_list

[1, 2, 3]

In [14]:
my_list[0]

1

In [15]:
my_list[0] = my_list[0] + 1 #my_list[0] += 1

In [16]:
my_list[0]

2

In [17]:
my_list = [1, 2, 3, "One", "Two", "Three"]

In [18]:
type(my_list)

list

In [19]:
my_list[1:]

[2, 3, 'One', 'Two', 'Three']

Concatenating List

In [20]:
list1 = [1, 2, 3]

In [21]:
list2 = [4, 5, 6]

In [22]:
list3 = list1 + list2

In [39]:
list3

[1, 2, 3, 4, 5, 6]

List Methods

In [40]:
my_list = [1, 2, 3]

In [41]:
my_list[3] = 4

IndexError: list assignment index out of range

In [42]:
my_list.append(4)

In [43]:
my_list

[1, 2, 3, 4]

In [44]:
my_list.append("New item")

In [45]:
my_list

[1, 2, 3, 4, 'New item']

In [46]:
string = "tamoghna"

In [47]:
string.upper()

'TAMOGHNA'

In [48]:
string

'tamoghna'

In [49]:
my_list = my_list.append("Another item") #Be careful of this assignment

In [50]:
my_list

In [51]:
type(my_list)

NoneType

In [53]:
my_list = [1, 2, 3, 4, 5, 6, 7]

In [54]:
my_list.pop()

7

In [55]:
my_list

[1, 2, 3, 4, 5, 6]

In [56]:
my_list.pop(2)

3

In [57]:
my_list

[1, 2, 4, 5, 6]

In [58]:
my_list.insert(2, 3)

In [59]:
my_list

[1, 2, 3, 4, 5, 6]

In [60]:
my_list = [3,1,4,2,6,5]

In [61]:
my_list.sort() #Default sorting order is ascending

In [62]:
my_list

[1, 2, 3, 4, 5, 6]

In [63]:
help(my_list.sort)

Help on built-in function sort:

sort(...) method of builtins.list instance
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [65]:
list_test = [("Tamoghna", 142), ("Ranajoy", 578), ("Arka", 7)]

In [66]:
list_test.sort()

In [67]:
list_test

[('Arka', 7), ('Ranajoy', 578), ('Tamoghna', 142)]

In [68]:
my_list.sort(reverse=True)

In [69]:
my_list

[6, 5, 4, 3, 2, 1]

In [70]:
my_list.append(6)

In [71]:
my_list

[6, 5, 4, 3, 2, 1, 6]

In [72]:
my_list.count(6)

2

In [73]:
my_list.reverse()

In [74]:
my_list

[6, 1, 2, 3, 4, 5, 6]

In [75]:
test = [1, 3, 2, 4]

In [76]:
test.reverse()

In [78]:
test

[4, 2, 3, 1]

In [79]:
test1 = test

In [80]:
test1

[4, 2, 3, 1]

In [81]:
test1[0] = 7

In [82]:
test1

[7, 2, 3, 1]

In [83]:
test

[7, 2, 3, 1]

In [84]:
test1 = test.copy()

In [85]:
test1

[7, 2, 3, 1]

Multiple Concatenation

In [86]:
list1 = [1, 2]

In [87]:
list2 = list1 * 2

In [88]:
list2

[1, 2, 1, 2]

In [89]:
list3 = [4, 5]

In [90]:
list4 = list1 + list2 + list3

In [91]:
list4

[1, 2, 1, 2, 1, 2, 4, 5]

Nested Lists

In [92]:
list1 = [1, 2, 3]

In [93]:
list2 = [4, 5, 6]

In [94]:
list3 = [7, 8, 9]

In [95]:
mat = [list1, list2, list3]

In [96]:
mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
mat[0]

[1, 2, 3]

In [98]:
mat[0][0]

1

In [99]:
len(list1)

3

In [100]:
#Row count
len(mat)

3

In [101]:
#Column Count
len(mat[0])

3

In [102]:
test = [1, 2, 3]

In [103]:
test.remove(3)

In [104]:
test

[1, 2]

In [105]:
test = [1, 2, 3, 2, 1]

In [106]:
test.remove(1)

In [107]:
test

[2, 3, 2, 1]

In [108]:
help(test.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [109]:
sorted(test)

[1, 2, 2, 3]

In [110]:
test

[2, 3, 2, 1]

Dictionaries

In [111]:
# Name: Tamoghna
# Gender: Male
# Home Planet: Earth
# Age: 19+

In [112]:
details = ["Tamoghna", "Male", "Earth", "19+"]

In [113]:
details[0]

'Tamoghna'

In [114]:
# Name: Tamoghna
# Gender: Male
# Occupation: Student
# Home Planet: Earth
# Age: 19+

In [116]:
details_v2 = {
                "Name":"Tamoghna",
                "Gender": "Male",
                "Home Planet": "Earth",
                "Age": "19+"
             }

In [117]:
details_v2["Name"]

'Tamoghna'

In [119]:
details_v2 = {
                "Name":"Tamoghna",
                "Occupation": "Student",
                "Gender": "Male",
                "Home Planet": "Earth",
                "Age": "19+"
             }

In [120]:
details_v2

{'Name': 'Tamoghna',
 'Occupation': 'Student',
 'Gender': 'Male',
 'Home Planet': 'Earth',
 'Age': '19+'}

In [124]:
details1 = {
                "Name":"Tamoghna",
                "Occupation": "Student",
                "Gender": "Male",
                "Home Planet": "Earth",
                "Age": "19+"
             }

In [123]:
details2 = {
                "Name":"Abantika",
                "Occupation": "Student",
                "Gender": "Female",
                "Home Planet": "Pluto",
                "Age": "19+"
             }

In [125]:
details1

{'Name': 'Tamoghna',
 'Occupation': 'Student',
 'Gender': 'Male',
 'Home Planet': 'Earth',
 'Age': '19+'}

In [126]:
details2

{'Name': 'Abantika',
 'Occupation': 'Student',
 'Gender': 'Female',
 'Home Planet': 'Pluto',
 'Age': '19+'}

In [127]:
all_details = [details1, details2]

In [128]:
all_details

[{'Name': 'Tamoghna',
  'Occupation': 'Student',
  'Gender': 'Male',
  'Home Planet': 'Earth',
  'Age': '19+'},
 {'Name': 'Abantika',
  'Occupation': 'Student',
  'Gender': 'Female',
  'Home Planet': 'Pluto',
  'Age': '19+'}]

In [129]:
list1 = [1, 2 ,3]

In [130]:
list1[3]

IndexError: list index out of range

In [131]:
details2["College"]

KeyError: 'College'

In [132]:
details2.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [133]:
dict1 = {1:5, 'This':'That', 'Not this':0}

In [134]:
dict1[1]

5

In [135]:
dict1 = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}

In [136]:
dict1['a']

0

In [137]:
dict1['a'] += 1

In [138]:
dict1['a']

1

In [139]:
'b' in dict1

False

In [140]:
#Empty dictionary
empty = {}

In [141]:
type(empty)

dict

In [142]:
dict1 = {}

In [143]:
dict1['a'] = 1

In [144]:
dict1['e'] += 1

KeyError: 'e'

In [145]:
dict1.setdefault('e', 0)

0

In [146]:
dict1['e']

0

In [147]:
dict1['e'] += 1

In [148]:
dict1['e']

1

In [149]:
dict1.setdefault('e', 0)

1

In [150]:
dict1['e']

1

In [151]:
details1 = {
                "Name":"Tamoghna",
                "Occupation": "Student",
                "Gender": "Male",
                "Home Planet": "Earth",
                "Age": "19+"
             }

In [152]:
details1.keys()

dict_keys(['Name', 'Occupation', 'Gender', 'Home Planet', 'Age'])

In [153]:
list(details1.keys())

['Name', 'Occupation', 'Gender', 'Home Planet', 'Age']

In [154]:
list(details1.values())

['Tamoghna', 'Student', 'Male', 'Earth', '19+']

In [155]:
list(details1.items())

[('Name', 'Tamoghna'),
 ('Occupation', 'Student'),
 ('Gender', 'Male'),
 ('Home Planet', 'Earth'),
 ('Age', '19+')]

In [157]:
sorted(details1.items())

[('Age', '19+'),
 ('Gender', 'Male'),
 ('Home Planet', 'Earth'),
 ('Name', 'Tamoghna'),
 ('Occupation', 'Student')]

Tuples

In [158]:
tup1 = (1, 2, 3)

In [159]:
type(tup1)

tuple

In [160]:
tup1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [161]:
tup1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [162]:
tup1.count(1)

1

In [163]:
tup1.index(2)

1

In [164]:
tup2 = (1)

In [165]:
type(tup2)

int

In [166]:
tup2 = (1,)

In [167]:
type(tup2)

tuple

In [168]:
tup2[0]

1

In [173]:
const_values = (3.14153, 4)

In [170]:
constants = {"PI": const_values[0]}

In [172]:
constants["PI"]

3.14153

Sets

In [174]:
x = set()

In [175]:
type(x)

set

In [176]:
x

set()

In [177]:
x.add(1)

In [178]:
x

{1}

In [179]:
x.add(2)

In [180]:
x

{1, 2}

In [181]:
x.add(1)

In [182]:
x

{1, 2}

In [186]:
list1 = [1, 1, 5, 6, 6, 7, 1, 2, 2, 3, 4]

In [187]:
unique = set(list1)

In [188]:
unique

{1, 2, 3, 4, 5, 6, 7}

In [189]:
unique.sort()

AttributeError: 'set' object has no attribute 'sort'

In [190]:
set1 = set([1, 2, 3])

In [191]:
set2 = set([4, 3, 5])

In [195]:
new_set = set1.intersection(set2)

In [193]:
set1

{1, 2, 3}

In [194]:
set2

{3, 4, 5}

In [196]:
new_set

{3}

In [197]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [198]:
set1.difference(set2)

{1, 2}

Boolean

In [199]:
1 > 2

False

In [200]:
1 == 2

False

In [201]:
1 == 1

True

In [202]:
var = 1 == 2

In [203]:
type(var)

bool

In [204]:
var = None

In [205]:
type(var)

NoneType