Recap of Strings

In [1]:
mystr = "Apple Oranges Mango"

In [2]:
fruits = mystr.split()

In [4]:
fruits

['Apple', 'Oranges', 'Mango']

In [5]:
# join()
# General Syntax: sep.join(iterable)
# sep -> seperator, iterable -> any object such as list, dict etc
# Ex.
joined = ",".join(fruits)

In [6]:
joined

'Apple,Oranges,Mango'

In [7]:
" ".join(fruits)

'Apple Oranges Mango'

In [8]:
"".join(fruits)

'AppleOrangesMango'

In [9]:
"1".join(fruits)

'Apple1Oranges1Mango'

sorted()

In [12]:
dictionary = {'Tamoghna':'100', 'Arka': '99', 'Ranajoy':'-50'}

In [13]:
dictionary

{'Tamoghna': '100', 'Arka': '99', 'Ranajoy': '-50'}

In [14]:
sorted(dictionary)

['Arka', 'Ranajoy', 'Tamoghna']

In [15]:
dictionary

{'Tamoghna': '100', 'Arka': '99', 'Ranajoy': '-50'}

In [16]:
mylist = [2, 1, 3, 2, 5, 4, 7]

In [17]:
mylist.sort()

In [18]:
mylist

[1, 2, 2, 3, 4, 5, 7]

In [19]:
mylist = [2, 1, 3, 2, 5, 4, 7]

In [20]:
sorted(mylist)

[1, 2, 2, 3, 4, 5, 7]

In [21]:
mylist

[2, 1, 3, 2, 5, 4, 7]

# if-else statements

In [22]:
# Relational Operators
# >, <, >=, <=, ==, !=
# Condition always have this kind of format
# <variable> <rel. operator> <value>
# <variable> <rel. operator> <variable>
# Logical Operators
# and or not
1 > 2

False

In [23]:
1 < 2

True

In [24]:
1 == 2

False

In [25]:
(1 < 2) or (2 < 3)

True

In [26]:
(1 < 2) and (2 < 3)

True

In [27]:
not((1 < 2) and (2 < 3))

False

Checking if a value if within a range

In [28]:
x = 6

In [29]:
(x >= 1) and (x <= 10)

True

In [30]:
1 <= x <= 10

True

In [31]:
1 <= x >= 6 # Shouldn't be used, instead use

True

In [32]:
x >= 1 and x >= 6

True

In [ ]:
# C/C++/Java Syntax
#
# if(condtion)
# {
#     statements;
# }
# else if(another_condition)
# {
#     statements;
# }
# else
# {
#     statements;
# }

In [33]:
# Python syntax
#
# if condition:
#     statements
# elif another_condition:
#     statements
# else:
#     statements

In [34]:
# Python does not have switch case

In [35]:
# Ternary Operator / Conditonal Assignment
x = 5
y = 6
max_num = x if x > y else y

In [36]:
max_num

6

In [1]:
mylist = [1, 3, 4, 6, 7, 12]

In [2]:
max(mylist)

12

In [3]:
string = "tamoghna"

In [5]:
mylist = list(string)

In [6]:
str(mylist)

"['t', 'a', 'm', 'o', 'g', 'h', 'n', 'a']"