In [1]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [8]:
total = 0

In [9]:
for num in list1:
    total = total + num

In [10]:
print(total)

55

In [11]:
# Print the even numbers in the list and for odd numbers
# print "Odd number"

In [12]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd Number")

Odd Number
2
Odd Number
4
Odd Number
6
Odd Number
8
Odd Number
10

In [13]:
#Print all the letters of the string "Hello, World!"

In [14]:
for letter in "Hello, World!":
    print(letter)

H
e
l
l
o
,

W
o
r
l
d
!

In [15]:
tup = (1, 2, 3, 4, 5)

In [16]:
for item in tup:
    print(item)

1
2
3
4
5

In [17]:
mylist = [(1,2), (3, 4), (6, 5)]

In [18]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(6, 5)

# Tuple Unpacking

In [19]:
# X-cor: 1, Y-cor: 2

In [20]:
for item1, item2 in mylist:
    print("X-cor: {}, Y-cor: {}".format(item1, item2))

X-cor: 1, Y-cor: 2
X-cor: 3, Y-cor: 4
X-cor: 6, Y-cor: 5

In [21]:
for (item1, item2) in mylist:
    print("X-cor: {}, Y-cor: {}".format(item1, item2))

X-cor: 1, Y-cor: 2
X-cor: 3, Y-cor: 4
X-cor: 6, Y-cor: 5

In [22]:
d = {'k1':1, 'k2':2, 'k3':3}

In [23]:
for item in d:
    print(item)

k1
k2
k3

In [24]:
d.values()

dict_values([1, 2, 3])

In [25]:
for item in d.values():
    print(item)

1
2
3

In [26]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [27]:
type(d.items())

dict_items

In [29]:
d_list = list(d.items())

In [30]:
d_list

[('k1', 1), ('k2', 2), ('k3', 3)]

In [31]:
for (key, value) in d.items():
    print("Key:", key, "Value:", value)

Key: k1 Value: 1
Key: k2 Value: 2
Key: k3 Value: 3

In [32]:
# Use a for loop to print all the consonants from a string 
# (user input)

In [33]:
print("a" in "aeiou")

True

In [36]:
string = input("Enter a string: ")
for letter in string:
    if letter.lower() not in "aeiou":
        print(letter, ",", end="")
else:
    print("Loop terminated")

Enter a string: Tamoghna
T ,m ,g ,h ,n ,Loop terminated

In [37]:
# for item in iterable:
#     #do something
# else:
#     #do something else

In [38]:
# Check if a number is prime or not

In [39]:
# METHOD 1
# 1, 2, 4, 5, 7, 23, 11, 19, 89
number = int(input("Enter a number: "))
i = 1
ctr = 0
while i <= number:
    if number % i == 0:
        ctr += 1
    i += 1
if ctr == 2:
    print("Prime")
else:
    print("Not Prime")

Enter a number: 23
Prime

In [2]:
# METHOD 2
number = int(input("Enter a number: "))
i = 2

if number == 1:
    print("Not Prime")
else:
    isPrime = True
    while i <= (number // 2):
        if number % i == 0:
            isPrime = False
            break
        i += 1
    if isPrime:
        print("Prime")
    else:
        print("Not Prime")

Enter a number: 4
Not Prime

In [6]:
# METHOD 3
# 6 = 1, 2, 3, 6
# sqroot(n)
# i <= n/i

number = int(input("Enter a number: "))
i = 2
if number == 1:
    print("Not prime")
else:
    isPrime = True
    while i <= int(number ** 0.5):
        if number % i == 0:
            isPrime = False
            break
        i += 1

    if isPrime:
        print("Prime")
    else:
        print("Not Prime")

Enter a number: 10098
Not Prime

In [9]:
# METHOD 3
# 6 = 1, 2, 3, 6
# sqroot(n)
# i <= n/i

number = int(input("Enter a number: "))
i = 2
if number == 1:
    print("Not prime")
else:
    isPrime = True
    while i <= (number // i):
        if number % i == 0:
            isPrime = False
            break
        i += 1

    if isPrime:
        print("Prime")
    else:
        print("Not Prime")

Enter a number: 10098
Not Prime

# break, pass, continue

In [10]:
# break - breaks out of the current closest loop

In [11]:
mylist = [1, 2, 3, 4, 5]
for num in mylist:
    if num == 3:
        break
    else:
        print(num)

1
2

In [12]:
# continue - The control goes to the top of the loop 
# or more specifically to the update expression
mylist = [1, 2, 3, 4, 5]
for num in mylist:
    if num == 3:
        continue
    else:
        print(num)

1
2
4
5

In [16]:
# pass - Empty statement
mylist = [1, 2, 3, 4, 5]
for num in mylist:
    pass

# Useful operators in Python

range()

In [17]:
range(30)

range(0, 30)

In [18]:
list(range(30))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [19]:
# Default Syntax
# range(<start>, <stop>, [<step>)
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [22]:
# WAP to display 20 natural no.s
i = 1
while i <= 20:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [24]:
for i in range(1, 21):
    print(i, ",", end="")

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,

enumerate

In [26]:
mylist = [1, 2, 3, 4, 5, 6, 7]
for num in mylist:
    num += 1

In [27]:
mylist

[1, 2, 3, 4, 5, 6, 7]

In [1]:
mylist = [1, 2, 3, 4, 5, 6, 7]
i = 0
while i < len(mylist):
    mylist[i] += 1
    i += 1

In [2]:
mylist

[2, 3, 4, 5, 6, 7, 8]

In [3]:
enumerate(mylist)

In [4]:
list(enumerate(mylist))

[(0, 2), (1, 3), (2, 4), (3, 5), (4, 6), (5, 7), (6, 8)]

In [9]:
mylist = [1, 2, 3, 4, 5, 6, 7]
for index, value in enumerate(mylist):
    mylist[index] += 1

In [10]:
mylist

[2, 3, 4, 5, 6, 7, 8]

zip

In [13]:
mylist1 = [1, 2, 3]
mylist2 = ["One", "Two", "Three", "Four", "Five"]
list(zip(mylist1, mylist2))

[(1, 'One'), (2, 'Two'), (3, 'Three')]

In [14]:
for item1, item2 in zip(mylist1, mylist2):
    print(item1, ":", item2)

1 : One
2 : Two
3 : Three

in

In [15]:
5 in [1, 2, 3, 4]

False

min() and max()

In [20]:
mylist = [40, 10, 30, 20]
min(mylist)

10

In [17]:
max(mylist)

40

In [18]:
sum(mylist)

100

In [21]:
"Tamoghna" < "Arka"

False

In [30]:
temp = ["Tamoghna", "Arka", "Ranajoy", "Neelangshu", "Abantika"]

In [31]:
temp.sort()

In [32]:
temp

['Abantika', 'Arka', 'Neelangshu', 'Ranajoy', 'Tamoghna']

# import Statement

In [34]:
# General Syntax
# import module1 [,module2, module3, ...]
import math

In [35]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [36]:
value = math.sqrt(9)

In [37]:
value

3.0

# from Statement

In [39]:
# General Syntax
# from modulename import function1, function2, ...
from math import sqrt

In [40]:
value = sqrt(9)

In [41]:
value

3.0

In [42]:
from math import *

In [43]:
val = log10(100)

In [44]:
val

2.0

# random Module

In [45]:
import random

In [46]:
# random() and randint()

In [53]:
random.random()

0.47923739298134127

In [63]:
random.randint(1, 10)

4

# List Comprehensions

In [64]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
mylist = list(range(1, 11))

In [66]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
celcius = [10, 20, 30, 40, 50, 60]

In [68]:
farenheit = []

In [69]:
for temp in celcius:
    farenheit.append((temp * (9 / 5)) + 32)

In [70]:
farenheit

[50.0, 68.0, 86.0, 104.0, 122.0, 140.0]

In [71]:
farenheit = [(temp * (9 / 5)) + 32 for temp in celcius]

In [72]:
farenheit

[50.0, 68.0, 86.0, 104.0, 122.0, 140.0]

In [73]:
square_natural = [num ** 2 for num in range(1, 11)]

In [74]:
square_natural

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
even_nos = [num for num in [x**2 for x in range(1, 11)] if num % 2 == 0]

In [88]:
even_nos

[4, 16, 36, 64, 100]